<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/header.css}">
</head>
<body>
    <div id="wrap">
        <div class="header">
            <div class="header_main">
                <div class="logo">
                    <img src="" alt="">
                </div>
                <div class="search_bar">
                    <img src="" alt="">
                    <input type="text">
                    <button>검색</button>
                </div>
                <div class="gap"></div>
                <div class="icon">
                    <div class="login">
    
                    </div>
                    <div class="my_info">
    
                    </div>
                </div>
            </div>
            <div class="nav_bar"> 
                <ul class="nav_list">
                    <li><a href="">공지</a></li>
                    <li><a href="">장터</a></li>                        <li><a href="">사용기</a></li>
                    <li><a href="">구인</a></li>
                    <li><a href="">업체정보</a></li>
                </ul>
            </div>
        </div>
    </div>    
</body>
</html>