#wrap{
    width : 100%;
    margin : 0 auto;
    font-family: Arial, sans-serif;
}
.main_container {
    width: 1200px;
    margin: 0 auto;
    margin-top: 30px;
    height: 1000px;
}
.userinfo{
    width: 100%;
    height: 150px;
}
.info_head{
    display: flex;
    width: 100%;
    height: 50px;
    background-color: dodgerblue;
    align-items: center;
    margin-bottom: 30px;
}
.info_head p{
    margin: 0;
    font-size: 30px;
    color: white;
    margin-left: 20px;
}
.userinfo_table td{
    font-size: 20px;
}
td input{
    height: 25px;
    width: 200px;
    margin-left: 10px;
    outline: none;
}


.btn_zone{
    width: 100%;
    height: 100px;
    margin-top: 30px;
}
.btn{
    display: flex;
    justify-content: right;
}
.btn a{
    width: 120px;
    height: 50px;
    text-decoration-line: none;
    margin-right: 15px;
}
.btn button{
    width: 120px;
    height: 50px;
    background-color: dodgerblue;
    color: white;
    font-size: 15px;
    text-decoration-line: none;
    border: none;
    border-radius: 10px;
}

#cancel:hover, #modify:hover{
    cursor: pointer;
    border: 2px solid dodgerblue;
    background-color: white;
    color: dodgerblue;
    border-radius: 10px;
}