#wrap{
    width : 100%;
    margin : 0 auto;
    font-family: Arial, sans-serif;
}
.main_container {
    width: 1200px;
    margin: 0 auto;
    margin-top: 30px;
    height: 1000px;
}
.userinfo{
    width: 100%;
    height: 150px;
}
.info_head{
    display: flex;
    width: 100%;
    height: 50px;
    background-color: dodgerblue;
    align-items: center;
}
.info_head p{
    margin: 0;
    font-size: 30px;
    color: white;
    margin-left: 20px;
}




.btn_zone{
    display: flex;
    width: 100%;
    height: 100px;
    margin-top: 30px;
    justify-content: right;
}
.btn_zone a{
    width: 120px;
    height: 50px;
    text-decoration-line: none;
    margin-left: 15px;
}
.btn_zone button{
    width: 120px;
    height: 50px;
    background-color: dodgerblue;
    color: white;
    font-size: 15px;
    text-decoration-line: none;
    border: none;
    border-radius: 10px;
}

#modify:hover{
    cursor: pointer;
    border: 2px solid dodgerblue;
    background-color: white;
    color: dodgerblue;
    border-radius: 10px;
}