/* 공통 스타일 */
#wrap {
    width: 100%;
    margin: 0 auto;
    font-family: Arial, sans-serif;
}

/* 헤더 스타일 */
.header {
    height: 170px;
    margin-top: 30px;
}

/* 헤더 메인 부분 스타일 */
.header_main {
    height: 100px;
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: space-between; /* 공간 균등 배치 */
    align-items: center;
}

/* 로고 스타일 */
.logo {
    width: 200px;
    background-color: black;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
}

.logo a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
}

.logo a p {
    color: white; 
}

.logo a:hover {
    cursor: pointer;
}


.search_bar {
    display: flex;
    width: 500px;
    background-color: dodgerblue;
    height: 50px;
    border-radius: 5px; 
}

.search_bar input {
    width: 400px;
    height: 48px;
    border: 1px solid dodgerblue;
    border-radius: 5px 0 0 5px; 
    padding: 0 10px; 
    outline: none;
}

.search_bar button {
    width: 120px;
    height: 50px;
    background-color: dodgerblue;
    border: none;
    font-size: 18px; 
    color: white;
    border-radius: 0 5px 5px 0; 
    cursor: pointer;
}

.search_bar button:hover {
    background-color: darkblue; 
}


.icon, .gap {
    display: flex;
    align-items: center;
}

.icon {
    width: auto; 
    height: 80px;
    margin-left: 20px;
}

.login, .my_info {
    width: 70px;
    height: 40px;
    margin-left: 20px;
    text-align: center;
}
.login a, .my_info a{
    width: 100%;
    height: 100%;
    text-decoration-line: none;
}
.login p, .my_info p{
    margin: 0;
    color: black;
}


.nav_bar {
    width: 100%;
    height: 50px;
    background-color: dodgerblue;
    border-bottom: 2px solid blue; 
}

.nav_list {
    width: 80%; 
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto; 
}

.nav_list li {
    display: flex;
    align-items: center;
    list-style: none;
    font-size: 18px; 
    color: white;
    text-align: center;
}

.nav_list li:hover {
    color: lightblue; 
}

.nav_list li a {
    text-decoration: none; 
    color: inherit; 
}
