<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시판</title>
    <link rel="stylesheet" th:href="@{/css/post/get.css}">
    <script th:src="@{/js/post/get.js}"></script>
</head>
<body>
    <th:block th:replace="~{/layout/header}"></th:block>
    <div id="wrap">
        <div class="main_container">
            <div th:if="${user != null} and ${post.userId == user.id}">
                <div class="modidelete">
                    <button id="modify">수정</button>
                    <button id="delete">삭제</button>
                </div>
            </div>
            
            <div class="user_info">
                <div id="nickname" class="nickname">
                    <p>닉네임 : <span id="nicknameText"></span></p>
                </div>
                <div id="title" class="title">
                    <h4 id="postTitle"></h4>  
                </div>
                <p id="createAt"></p>
            </div>
            <div class="pt_contents" id="postContent"></div>

            <div class="comment"><!--댓글구역--></div>
        </div>
    </div>    
    <th:block th:replace="~{/layout/footer}"></th:block>
</body>
</html>
