<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시판</title>
    <link rel="stylesheet" th:href="@{/css/post/list.css}">
    <script th:src="@{/js/post/list.js}"></script>
</head>
<body>
    <th:block th:replace="~{/layout/header}"></th:block>
    <div id="wrap">
        <div class="main_container">
            <div id="post_list">
                <div class="pt_top">
                    <p>게시판</p>
                </div>
                <!-- 이곳에 JavaScript로 동적으로 포스트 리스트를 추가할 것입니다. -->
            </div>
        </div>
        <div class="write_button_zone">
            <a th:href="@{/board/user/write}" class="write_button">
                <button>글쓰기</button>
            </a>    
        </div>
    </div>
    <th:block th:replace="~{/layout/footer}"></th:block>
</body>
</html>
