<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- jQuery 라이브러리 추가 (최신 버전만 로드) -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Thymeleaf에서 정적 리소스 경로를 사용하여 스타일 시트 추가 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.css">
    <!-- Summernote 라이브러리 추가 -->
    <script type="text/JavaScript" src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.js"></script>
    <script type="text/JavaScript" src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/lang/summernote-ko-KR.js"></script>
    <!-- 커스텀 JavaScript 파일 추가 -->
    <script type="text/JavaScript" th:src="@{/js/post/write.js}"></script>
    <link rel="stylesheet" th:href="@{/css/post/write.css}">
</head>
<body>
    <th:block th:replace="~{/layout/header}"></th:block>
    <div id="wrap">
        <div class="main_container">
            <div class="user_info">
                <div id="nickname" class="nickname">
                    <p>닉네임 : </p>
                    <p th:text="${user.nickname}"></p>
                    <p id="userId" th:text="${user.id}" style="display: none;"></p>
                </div>
                <div id="title" class="title">
                    <p>제목</p>
                    <input id="postTitle" type="text" placeholder="제목을 입력하세요.">
                </div>
            </div>
            <div id="summernote"></div>
            <div class="write_button_zone">
                <div class="bt_zone">
                    <button type="button" class="back" id="back">
                        돌아가기
                    </button>
    
                    <button type="button" id="submitPost" class="write_button">
                        등록
                    </button>
                </div>
            </div>
        </div>
    </div>
    <th:block th:replace="~{/layout/footer}"></th:block>
</body>
</html>
