<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/user/userinfo.css}">
    <script th:src="@{/js/user/userinfo.js}"></script>
</head>
<body>
    <th:block th:replace="~{/layout/header}"></th:block>
    <div id="wrap">
        <div class="main_container">
            <div class="userinfo">
                <div class="info_head"><p>유저정보</p></div>
                <div class="nickname"></div>
                <div class="email"></div>
            </div>
            <div th:if="${user.id} == ${userinfo.id}" class="modi_btn">
                <button id="modify">개인 정보 수정</button>
            </div>
            <div class="user_post">
                <div class="up_head">
                    <p>작성글</p>
                </div>
                <div class="up_list">
                    여긴 리스트 
                </div>
            </div>
        </div>
    </div>
    <th:block th:replace="~{/layout/footer}"></th:block>
</body>
</html>
