<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/user/usermodi.css}">
    <script th:src="@{/js/user/usermodi.js}"></script>
</head>
<body>
    <th:block th:replace="~{/layout/header}"></th:block>
    <div id="wrap">
        <div class="main_container">
            <div class="userinfo">
                <div class="info_head"><p>유저정보</p></div>
                <table class="userinfo_table">
                    <tr>
                        <td>닉네임 :</td>
                        <td><input type="text" class="nickname" value=""></td>
                    </tr>
                    <tr>
                        <td>이메일 :</td>
                        <td><input type="text" class="email" value=""></td>
                    </tr>
                    <tr class="password_row" style="display: none;">
                        <td>비밀번호 :</td>
                        <td><input type="password" class="password" value=""></td>
                    </tr>
                </table>
            </div>
            <div class="btn_zone">
                <div class="btn">
                <a th:href="@{/user/public/info}">
                    <button id="cancel">취소</button>
                </a>
                <button id="modify">수정</button>                    
                </div>
            </div>
        </div>
    </div>
    <th:block th:replace="~{/layout/footer}"></th:block>
</body>
<script th:inline="javascript">
    const userId = /*[[${user.id}]]*/ '0';
</script>
</html>
