<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/user/usermodi.css}">
    <script th:src="@{/js/user/usermodi.js}"></script>
</head>
<body>
    <th:block th:replace="~{/layout/header}"></th:block>
    <div id="wrap">
        <div class="main_container">
            <div class="userinfo">
                <div class="info_head"><p>유저정보</p></div>
                <div class="nickname">
                    <input type="text" value="">
                </div>
                <div class="email">
                    <input type="text" value="">
                </div>
                <div class="password">
                    <input type="text" value="">
                </div>
            </div>
            <div class="btn_zone">
                <a th:href="@{/user/public/info}">
                    <button id="cancel">취소</button>
                </a>
                <a th:href="@{/user/user/modi}">
                    <button id="modify">수정</button>
                </a>
            </div>
        </div>
    </div>
    <th:block th:replace="~{/layout/footer}"></th:block>
</body>
<script th:inline="javascript">
    const userId = /*[[${user.id}]]*/ '0';

</script>
</html>
