body {
    width: 1400px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
}

h1 {
    color: #006400; /* 진한 연두색 글씨 */
}

table {
    width: 100%;
    margin: 0 auto;
    border-collapse: collapse;
    margin-bottom: 30px;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #a9dfbf;
}

a {
    color: #006400;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

form {
    margin-top: 20px;
}

label {
    display: inline-block;
    width: 100px;
}

input, textarea {
    width: 300px;
    padding: 5px;
    margin: 5px 0;
}

button {
    background-color: #006400;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #004d00;
}
